ul {
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-body {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .w-100-mobile {
    width: 100% !important;
  }
}
